Format: A4

DefaultFont:
  Name: 'Arial'
  Size: 12
  Style: Regular
Content:
{{#issues}}
- Page:
  - Text: 'Issue #{{issueName}}'
    Location:
      Left: 0
      Top: 10
      Right: -1
      Bottom: 60
    HorizontalAlignment: Center
    VerticalAlignment: Center
    Font:
      Name: 'Arial'
      Size: 24
      Style: BoldItalic
{{#issueQrImageVisible}}
  - Url: {{issueQrImage}}
    Location:
      Left: -190
      Top: 60
      Right: -90
      Bottom: 140
{{/issueQrImageVisible}}
#  - Url: https://images.pexels.com/photos/45201/kitty-cat-kitten-pet-45201.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260
#    Location:
#      Left: -150
#      Top: 300
#      Right: -50
#      Bottom: 500
  - Table: 1
    ColumnWidths: ['140', '140', '140', '140']
    Border:
      Right:
        Color: black
        LineWidth: 0.1
      Left:
        Color: black
        LineWidth: 0.1
      Top:
        Color: black
        LineWidth: 0.1
      Bottom:
        Color: black
        LineWidth: 0.1
    DefaultContentMargin:
        Left: 2
        Top: 2
#    DefaultContentHorizontalAlignment: Center
#    DefaultContentVerticalAlignment: None
    Rows:
      - Cells:
        - Text: 'Summary'
          ColSpan: 2
          Font:
            Style: Bold
          Border:
            Bottom:
              Color: white
          Margin:
            Bottom: 3
        - Text: 'Reporter'
          Font:
            Style: Bold
          Border:
            Bottom:
              Color: white
          Margin:
            Bottom: 3
        - Text: ''
          RowSpan: 4
          Border:
            All:
              Color: white
      - Cells:
        - Text: '{{summary}}'
          ColSpan: 2
          RowSpan: 3
          HorizontalAlignment: Left
          VerticalAlignment: Top
          Border:
            Top:
              Color: white
        - Text: '{{reporter}}'
          Border:
            Top:
              Color: white
      - Cells:
        - Text: 'Assignee'
          Font:
            Style: Bold
          Border:
            Bottom:
              Color: white
          Margin:
            Bottom: 3
      - Cells:
        - Text: '{{assignee}}'
          Border:
            Top:
              Color: white

# created, updated, closed
      - Cells:
        - Text: 'Created'
          Font:
            Style: Bold
          Border:
            Bottom:
              Color: white
          Margin:
            Bottom: 3
        - Text: 'Updated'
          Font:
            Style: Bold
          Border:
            Bottom:
              Color: white
          Margin:
            Bottom: 3
        - Text: 'Closed'
          Font:
            Style: Bold
          Border:
            Bottom:
              Color: white
          Margin:
            Bottom: 3
      - Cells:
        - Text: '{{created}}'
          Border:
            Top:
              Color: white
        - Text: '{{updated}}'
          Border:
            Top:
              Color: white
        - Text: '{{closed}}'
          Border:
            Top:
              Color: white
      - Cells:
        - Text: ''
          Border:
            All:
              Color: white
        - Text: ''
          Border:
            All:
              Color: white
        - Text: ''
          Border:
            All:
              Color: white
        - Text: ''
          Border:
            All:
              Color: white

#      - Cells:
#        - Text: '1'
#        - Text: '2'
#        - Text: '3'
#        - Text: '4'
# -= Details =-
{{#assigneeList.NotEmpty}}
      - Cells:
        - Text: 'Assignees'
          Font:
            Style: Bold
        - TextLines:
{{#assigneeList.Value}}
          - {{.}}
{{/assigneeList.Value}}
          ColSpan: 3
{{/assigneeList.NotEmpty}}

      - Cells:
        - Text: 'Details'
          HorizontalAlignment: Center
          ColSpan: 4
          Border:
            All:
              Color: white
          Margin:
            Top: 5
            Bottom: 5
          Font:
            Size: 14
            Style: Bold
{{#detailsLines.NotEmpty}}
      - Cells:
        - Text: 'Description'
          Font:
            Style: Bold
          Border:
            Bottom:
              Color: white
          ColSpan: 4
      - Cells:
        - TextLines:
{{#detailsLines.Value}}
          - '{{.}}'
{{/detailsLines.Value}}
          ColSpan: 4
          Border:
            Top:
              Color: white
{{/detailsLines.NotEmpty}}
      - Cells:
        - Text: 'Project'
          Font:
            Style: Bold
        - Text: '{{projectName}}'
          ColSpan: 3
      - Cells:
        - Text: 'Milestone'
          Font:
            Style: Bold
        - Text: '{{milestone}}'
          ColSpan: 3
      - Cells:
        - Text: 'State'
          Font:
            Style: Bold
        - Text: '{{state}}'
          ColSpan: 3
{{^issueQrImageVisible}}
      - Cells:
        - Text: 'Issue Link'
          Font:
            Style: Bold
        - Text: '{{issueLink}}'
          ColSpan: 3
{{/issueQrImageVisible}}
{{#issueLabelsList.NotEmpty}}
      - Cells:
        - Text: 'Labels'
          Font:
            Style: Bold
        - TextLines:
{{#issueLabelsList.Value}}
          - {{.}}
{{/issueLabelsList.Value}}
          ColSpan: 3
{{/issueLabelsList.NotEmpty}}
{{#reactionsNotEmpty}}
      - Cells:
        - Text: 'Reactions'
          VerticalAlignment: Top
          Font:
            Style: Bold
          RowSpan: 6
        - Text: '+1'
        - Text: '{{reactions.plus1}}'
          ColSpan: 2
      - Cells:
        - Text: '-1'
        - Text: '{{reactions.minus1}}'
          ColSpan: 2
      - Cells:
        - Text: 'Laugh'
        - Text: '{{reactions.laugh}}'
          ColSpan: 2
      - Cells:
        - Text: 'Confused'
        - Text: '{{reactions.confused}}'
          ColSpan: 2
      - Cells:
        - Text: 'Heart'
        - Text: '{{reactions.heart}}'
          ColSpan: 2
      - Cells:
        - Text: 'Hooray'
        - Text: '{{reactions.hooray}}'
          ColSpan: 2
{{/reactionsNotEmpty}}

# -= Comments =-
{{#commentsNotEmpty}}
      - Cells:
        - Text: 'Comments'
          HorizontalAlignment: Center
          ColSpan: 4
          Border:
            All:
              Color: white
          Margin:
            Top: 5
            Bottom: 5
          Font:
            Size: 14
            Style: Bold
{{/commentsNotEmpty}}
{{#comments}}
      - Cells:
        - Text: 'Date'
          Font:
            Style: Bold
          Border:
            Bottom:
              Color: white
            Right:
              Color: white
        - Text: '{{commentCreated}}'
          Border:
            Bottom:
              Color: white
            Left:
              Color: white
            Right:
              Color: white
        - Text: 'Author'
          Font:
            Style: Bold
          Border:
            Bottom:
              Color: white
            Left:
              Color: white
            Right:
              Color: white
        - Text: '{{commentAuthor}}'
          Border:
            Bottom:
              Color: white
            Left:
              Color: white

{{#commentTextLines.NotEmpty}}
      - Cells:
        - Text: ''
          Font:
            Style: Bold
          ColSpan: 4
          Border:
            Top:
              Color: white
            Bottom:
              Color: white
      - Cells:
        - TextLines:
{{#commentTextLines.Value}}
          - '{{.}}'
{{/commentTextLines.Value}}
          ColSpan: 4
          Border:
            Top:
              Color: white
{{/commentTextLines.NotEmpty}}
{{/comments}}
{{/issues}}
